#epicodusLogo {
  width: 15%;
  height: 15%;
  float: left;
}

#codingBootcamps {
  width: 50%;
  height: 50%;
  float: left;
}

.intro {
  text-align: center;
  border: 2px thin grey;
  margin: 20px 120px 20px 120px;
  font-size: 18px;
}

#codingBootcamp25logo {
  float: right;
}

body {
  background-color: #e6ffff;
}

#button {
  margin: 20px 0px 0px 5px;
  border-radius: 2px solid black;
  font-weight: bold;
  font-size: 22px;
}

h3{
  color: #4d4d4d;
}

#rubyRails {
  color: #4d4d4d;
}

.col-xs-8{
  margin-left: 30px;
}

.defbox {
  display: none;
}

h1{
  padding-left: 40px;
}
.term {
  text-decoration: underline;
}

#meetUs{
  display: none;
}
#suggestedCourse {
  display: none;
}

@media screen and (max-width: 768px) and (min-width: 680px) {
	body {
		background-color: black;
		color: blue;
	}
}

@media screen and (max-width:480px) {
	body {
		background-color: teal;
	}
