#epicodus-logo{
  width: 15%;
  height: 15%;
  float: left;
}

#coding-bootcamps
{
  width: 50%;
  height: 50%;
  float: left;
}
.intro{
  text-align: center;
  border: 2px thin grey;
  margin:20px 120px 20px 120px;
  font-size: 18px;

}
#coding-bootcamp25-logo{
  float: right;
}

body{
  background-color: #e6ffff;
}

#button{
  margin: 20px 0px 0px 5px;
  border-radius: 2px solid black;
  font-weight: bold;
}

#fullName{
  width: 50%;
}

h3, ul>li{
  color: #4d4d4d;
}

#Ruby-Rails{
  color: #4d4d4d;
}

.defbox {
  display: none;
}
.term{
  text-decoration: underline;
}
